<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="google-site-verification" content="7PQNxRfYtVCXpmmI49WJH1_u5BAmTh0FHfZNGjvPavM" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Multipurpose UAV</title>

	<!--CSS-->
	<link rel="stylesheet" href="./static/css/css/template-style.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Raleway|Titillium+Web" rel="stylesheet">

</head>
<body class="full-width background-dark ">
	
	
	<div class="line padding-2x" >
		<h2 class="text-size-40">About</h2>
		<hr class="break-small background-primary ">
		<h3 class="text-size-30" align="center">
			Group 6 + 71 <br>
		</h3>
			<div class="text-size-30" align="center">
			Nehal Borole(4810) + Pinak Wadikar(4865)<br>
			Shubham Bidkar(4809) + Ketan Somvanshi(4856)
		    </div>
	</div>


	<!-- <div align="center">
		<a href="{{ url_for('livestream') }}">
		<button class="btn btn-primary">Live Stream Object Recognition</button>
	</a>
	</div>
	<div class="padding-2x">
	<code style="color:white">
		<br>
		$ cd darknet<br>
		$ ./darknet detector demo cfg/coco.data cfg/yolo.cfg yolo.weights
	</code>
    </div> -->
</body>