<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="google-site-verification" content="7PQNxRfYtVCXpmmI49WJH1_u5BAmTh0FHfZNGjvPavM" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Multipurpose UAV</title>

	<!--CSS-->
	<link rel="stylesheet" href="./static/css/css/components.css">
	
	<link rel="stylesheet" href="./static/css/css/responsee.css">
	<link rel="stylesheet" href="./static/css/css/owl.carousel.css">
	
	<link rel="stylesheet" href="./static/css/css/owl.theme.css">
	<link rel="stylesheet" href="./static/css/css/template-style.css">


	<link href="https://fonts.googleapis.com/css?family=Raleway|Titillium+Web" rel="stylesheet">

</head>
<body class="full-width background-dark ">
	
	<div class="line padding-2x" >
		<h2 class="text-size-40">Please Login first!</h2>
	</div>

</body>